<div id="empoyeeDataUpdateFormContainer" [style.visibility]="visibility">
    <h1 id="formTitle">{{formTitle}}</h1>
    <form id="empoyeeDataUpdateForm" (ngSubmit)="onSubmit()" #empoyeeDataUpdateForm="ngForm">
      <div class="form-group">
        <label for="birth_date">Birth Date</label>
        <input type="date" class="form-control" id="birth_date" required [disabled]="!isNewEmployee" [(ngModel)]="employee.birth_date" name="birth_date" [value]="employee.birth_date">
      </div>
    
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" required [disabled]="!isNewEmployee" [(ngModel)]="employee.first_name" name="first_name" [value]="employee.first_name">
      </div>
      
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" required [disabled]="!isNewEmployee" [(ngModel)]="employee.last_name" name="last_name" [value]="employee.last_name">
      </div>
    
      
      <label for="gender">Gender</label>
      <div id="gender" class="row">
        <div class="form-group col-sm-6">
          <label for="genderM">Male</label>
          <input type="radio" class="form-control" id="genderM" required [disabled]="!isNewEmployee" [(ngModel)]="employee.gender" name="gender" value="M" [attr.checked]="employee.gender==='M'">
        </div>
        <div class="form-group col-sm-6">
          <label for="genderF">Female</label>
          <input type="radio" class="form-control" id="genderF" required [disabled]="!isNewEmployee" [(ngModel)]="employee.gender" name="gender" value="F" [attr.checked]="employee.gender==='F'">
        </div>
      </div>
    
      <div class="form-group">
        <label for="hire_date">Hire Date</label>
        <input type="date" class="form-control" id="hire_date" required [disabled]="!isNewEmployee" [(ngModel)]="employee.hire_date" name="hire_date" [value]="employee.hire_date">
      </div>
    
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="employee.title" name="title" [value]="employee.title">
      </div> 
      
      <div class="form-group">
        <label for="to_date">To Date</label>
        <input type="date" class="form-control" id="to_date" required disabled [(ngModel)]="employee.to_date" name="to_date" [value]="employee.to_date">
      </div>
        
      <div class="form-group">
        <label for="dept_name">Department</label>
        <select id="dept_name" class="form-control" required [(ngModel)]="employee.dept_name" name="dept_name">
          <option value="Customer Service" [selected]="employee.dept_name==='Customer Service'">Customer Service</option>
          <option value="Development" [selected]="employee.dept_name==='Development'">Development</option>
          <option value="Finance" [selected]="employee.dept_name==='Finance'">Finance</option>
          <option value="Human Resources" [selected]="employee.dept_name==='Human Resources'">Human Resources</option>
          <option value="Marketing" [selected]="employee.dept_name==='Marketing'">Marketing</option>
          <option value="Production" [selected]="employee.dept_name==='Production'">Production</option>
          <option value="Quality Management" [selected]="employee.dept_name==='Quality Management'">Quality Management</option>
          <option value="Research" [selected]="employee.dept_name==='Research'">Research</option>
          <option value="Sales" [selected]="employee.dept_name==='Sales'">Sales</option>
        </select>
      </div>

      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="number" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary" [value]="employee.salary">
      </div>       
      
      <button type="submit" class="btn btn-success" [disabled]="(!empoyeeDataUpdateForm.form.valid)||(!empoyeeDataUpdateForm.form.dirty)">Submit</button>
      <button type="button" class="btn btn-danger" [disabled]="isNewEmployee" (click)="fireEmployee()">Fire</button>
      <button type="button" class="btn btn-basic" (click)="hide()">Cancel</button>
    </form>
  </div>