#empoyeeDataUpdateFormContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

#empoyeeDataUpdateForm{
    position: relative;
    width: 80%;
    left: 10%;
}


label{
    color: white;
}

#gender>title{
    text-align: center;
}

#formTitle{
    color: white;
    font-weight: bold;
    font-size: 25px;   
}

.form-group{
    text-align: left;
}

#gender .form-group{
    text-align: center;
}

.btn{
    transition: none;
}

.form-control:disabled{
    background-color: #929292
}