table{
    border: 2px black solid;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

#tables>table>tr{
    cursor: pointer;
}

#tables>table>tr:hover{
    background: #d1ebff;
}

#tables>table>tr>td{
    border: 1px solid black;
}
