<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>databaseData</servlet-name>
        <servlet-class>com.manager_app.servlets.EmployeesDatabaseDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>databaseData</servlet-name>
        <url-pattern>/databaseData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tableData</servlet-name>
        <servlet-class>com.manager_app.servlets.EmployeesTableDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>tableData</servlet-name>
        <url-pattern>/tableData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>fullEmployeeData</servlet-name>
        <servlet-class>com.manager_app.servlets.FullEmployeeDataServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fullEmployeeData</servlet-name>
        <url-pattern>/fullEmployeeData</url-pattern>
    </servlet-mapping>

</web-app>