<div class="container">
    <h1 class="text-center">Employee Manager</h1>

    <div id=viewButtons class="row">
        <button class="col-md-6 btn tabButton" [class.selected]="tabDisplayManager.employeesData=='visible'" (click)="tabDisplayManager.activate('employeesData')">Employees Data</button>
        <button class="col-md-6 btn tabButton" [class.selected]="tabDisplayManager.rawTables=='visible'" (click)="tabDisplayManager.activate('rawTables')">Raw Tables</button>
    </div>

    <app-employee-data-tab [display] = "tabDisplayManager.employeesData"></app-employee-data-tab>
    <app-tables-tab [display] = "tabDisplayManager.rawTables"></app-tables-tab>        
    
</div>